<div>
  <%= flash[:notice] %>
</div>

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <title>Bookers</title>
  </head>

<body>
 <h1 class="title">Books</h1>

 <table border="0">
  <tr>
   <th>Title</th>
   <th>Body</th>
  </tr>

  <tr>
   <td>
    <% @books.each do |book| %>
     <span>
      <p class="table-text"><%= book.title %></p>
     </span>
   </td>

   <td>
     <span>
      <p class="table-text"><%= book.body %></p>
     </span>
   </td>

   <td>
     <span>
      <p class="table-text"><%= link_to "Show", book_path(book.id) %></p>
     </span>
   </td>

   <td>
     <span>
      <p class="table-text"><%= link_to "Edit", edit_book_path(book.id) %></p>
     </span>
   </td>

   <td>
     <span>
      <p class="table-text"><%= link_to "Destroy", book_path(book.id), method: :delete %></p>
     </span>
    <% end %>
   </td>
  </tr>
 </table>


<h1 class="title">New book</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @book, url:'/books', method: :post  do |f| %>

  <div class="table-text">
    <h4>Title</h4>
    <%= f.text_field:title %>
  </div>

  <div class="table-text">
    <h4>Body</h4>
    <%= f.text_area:body %>
  </div>

  <div class="table-text">
    <%= f.submit 'Create Book' %>
  </div>

<% end %>
</body>