<div>
  <%= flash[:notice] %>
</div>

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <title>Bookers</title>
  </head>

<body>
 <h1 class="top-title">Books</h1>

 <div class="index-box">

  <div class="box-content">
   <p class="box-title">Title</p>
   <% @books.each do |book| %>
    <span>
     <p class="box-content-text"><%= book.title %></p>
    </span>
   <% end %>
  </div>

  <div class="box-content">
   <p class="box-title">Body</p>
   <% @books.each do |book| %>
    <span>
     <p class="box-content-text"><%= book.body %></p>
    </span>
   <% end %>
  </div>

  <div class="box-content">
   <p class="index-box-title">a</p>
   <% @books.each do |book| %>
    <span>
     <p class="box-content-text"><%= link_to "Show", book_path(book.id) %></p>
    </span>
   <% end %>
  </div>

  <div class="box-content">
   <p class="index-box-title">b</p>
   <% @books.each do |book| %>
    <span>
     <p class="box-content-text"><%= link_to "Edit", edit_book_path(book.id) %></p>
    </span>
   <% end %>
  </div>

  <div class="box-content">
   <p class="index-box-title">c</p>
   <% @books.each do |book| %>
    <span>
     <p class="box-content-text"><%= link_to "Destroy", book_path(book.id), method: :delete %></p>
    </span>
   <% end %>
  </div>
 </div>


<h1 class="new-title">New book</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book, url:'/books', method: :post  do |f| %>

  <div class="new-box">
    <h4>Title</h4>
    <%= f.text_field:title %>
  </div>

  <div class="new-box">
    <h4 class="new-field">Body</h4>
    <%= f.text_area:body %>
  </div>

  <div class="new-box">
    <%= f.submit 'Create Book' %>
  </div>

<% end %>
</body>