<div>
  <%= flash[:notice] %>
</div>

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <title>Bookers</title>
  </head>

<body>
  <p class="show-box">Title: <%= @book.title %></p>

  <p class="show-box">Body: <%= @book.body %></p>

<div class="show-text">
<%= link_to "Edit", edit_book_path(@book.id) %>
|
<%= link_to "Back",'/books' %>
</div>
</body>

</html>